# Логи (если создаются)
*.log

# Временные файлы редакторов
*.swp
*.swo
*~
ssh

#obsidian
.obsidian

#terraform
.terraform
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfstate
terraform.tfstate.backup

#ansible
inventory.ini
*.retry

#vagrant
.vagrant/
.Vagrantfile.local